# Dependencies
node_modules/
venv/
env/
ENV/
.env

# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Hardhat/Blockchain
cache/
artifacts/
typechain/
typechain-types/
coverage/
coverage.json
ignition/deployments/chain-31337

# IDEs
.vscode/
.idea/
.DS_Store
